/*              BODY              */

button{
    padding: 0.8% 0.5%;
    color: black;
    border : none;
    letter-spacing: 3px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
}

button:hover{
    background: #94c2e2;
    color: white;
    box-shadow: 0 0 15px #d0e8f8,
                0 0 15px #d0e8f8,
                0 0 15px #d0e8f8,
                0 0 15px #d0e8f8;
}


fieldset legend{
    font-size: 170%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color : #3a429d;
}

#alternative{
    display: block;
    text-align: center;
    margin-bottom: 5%;
}

#alternative p{
    font-size: 135%;
    font-weight: bold;
    color : #3a429d;
}

#alternative button{
    border : 2px solid black;
}


/*              FORM                */

fieldset{
    font-weight: 100;
    margin: 0px 20%;
    text-align: center;
}

fieldset button{
    border : 2px solid black;
    margin : 3% 0% 3% 0%;
    padding : 10px;
}

input, textarea, select {
    margin: 1% 0;
    padding: 10px;
    border: .1px solid rgb(24,40,63);
    width: 200px;
    background-color: #d0e8f8;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
}

.text-error{
    color: red;
    font-size: 70%;
}